# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignore Visual Studio and Virtual Environment folders
.vs/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Additional system files
.idea/